<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Profiles</th>
      <th>Games<br>Ranks</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% new.forEach(function(n) { %>
      <tr>
        <td><%= n.games %></td>
        <td><%= n.rank %></td>
        <td><%= n.username %></td>
        <td><a href="profile.ejs">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <form id=" update-form" action="./profile" method="PUT">Update Profile</form>
  <form id="form" action="./profile" method="DELETE"> Delete Profile</form>
<%- include('../partials/footer') %>