<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Profiles</th>
      <th>Games<br>Ranks</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% profile.forEach(function(p) { %>
      <tr>
        <td><%= p.games %></td>
        <td><%= p.rank %></td>
        <td><a href="/profile/<%= p._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>