<%- include('./partials/header') %>

 
<h2>Welcome to Duo Finder!</h2>

<% if (!user) { %>
	<p>Login or create an account with google</p>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	
<% } else { %>
	<p>Welcome, <%= user.name %> <%= user.email %></p>
	<% if (user.avatar) { %>
		<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
		<p><a href = "./profile/new.ejs"> create your profile</a> </p>
		<p><a href="../views/games/new.ejs">Add a game</a> </p>
		<p><a href="./games/index.ejs"> See all games</a> </p>
		<p><a href="./DuoFinder/index.ejs">Find your Duo!</a></p>
	<% } %>
<% } %> 


<%- include('./partials/footer') %>

