<%- include('./partials/header') %>

<h2>Welcome to Duo Finder!</h2>

<% if (!user) { %>
	<p>Login or create an account with google</p>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
<% } else { %>
	<p>Welcome, <%= user.name %> <%= user.email %></p>
	<% if (user.avatar) { %>
		<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
	<% } %>
<% } %>
<tbody>
    <% profile.forEach(function(p) { %>
        <a href="/profile/<%= p._id %>">profile/a>
      <% }); %>
    </tbody>
<%- include('./partials/footer') %>
