<%- include('./partials/header') %>

<h2>Welcome to Duo Finder!</h2>

<% if (user) { %>
	<p>Check out other users below</p>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<p>Welcome, <%= user.name %></p>
	<% if (user.avatar) { %>
		<img src="<%= user.avatar %>"/>
	<% } %>
<% } %>
<tbody>
    <% user.forEach(function(u) { %>
        <a href="/user/<%= u._id %>">Users>
      <% }); %>
      
    <% profile.forEach(function(p) { %>
        <a href="/profile/<%= p._id %>">profile/a>
      <% }); %>
      
    </tbody>
<%- include('./partials/footer') %>